# IDE
.idea
*.iml

# Yarn - Accidentally running `yarn` in the repo root creates files we do not want to add to the repo
/node_modules
/yarn.lock

.DS_Store

e2e/cypress/videos
e2e/cypress/screenshots
