@use 'uswds-core' as *;

.fieldset {
  border: none;
  margin: units(3) 0 0 0;
  padding: 0;
}

.elementLabel {
  font-weight: bold;
  margin-bottom: 0;
}

.elementValue {
  margin-top: units(1);
  white-space: pre-line;
}
