{
  "executionRoleArn": "ecs-task-execution-role-dol-ui-claimant-intake-client-ENVIRONMENT_PLACEHOLDER",
  "containerDefinitions": [
    {
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/ecs/ENVIRONMENT_PLACEHOLDER/dol-ui-claimant-intake-APP_PLACEHOLDER",
          "awslogs-region": "us-east-1",
          "awslogs-stream-prefix": "dol-ui-claimant-intake-APP_PLACEHOLDER-PR_PLACEHOLDER"
        }
      },
      "portMappings": [
        {
          "hostPort": 3000,
          "protocol": "tcp",
          "containerPort": 3000
        }
      ],
      "environment": [],
      "mountPoints": [],
      "secrets": [
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/cognito-client-id",
          "name": "COGNITO_CLIENT_ID"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/cognito-client-secret",
          "name": "COGNITO_CLIENT_SECRET"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/cognito-issuer",
          "name": "COGNITO_ISSUER"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/cognito-domain",
          "name": "COGNITO_DOMAIN"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/cognito-idp-name",
          "name": "COGNITO_IDENTITY_PROVIDER_NAME"
        },
        {
	          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/enable-idp-redirect",
	          "name": "ENABLE_IDP_REDIRECT"
	      },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/nextauth-secret",
          "name": "NEXTAUTH_SECRET"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/nextauth-url/PR_PLACEHOLDER",
          "name": "NEXTAUTH_URL"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/server-base-url",
          "name": "SERVER_BASE_URL"
        }
      ],
      "volumesFrom": [],
      "image": null,
      "essential": true,
      "readonlyRootFilesystem": true,
      "name": "dol-ui-claimant-intake-client-ENVIRONMENT_PLACEHOLDER-PR_PLACEHOLDER"
    }
  ],
  "placementConstraints": [],
  "memory": "512",
  "taskRoleArn": "ecs-task-role-dol-ui-claimant-intake-client-ENVIRONMENT_PLACEHOLDER",
  "family": "dol-ui-claimant-intake-client-ENVIRONMENT_PLACEHOLDER-PR_PLACEHOLDER",
  "requiresCompatibilities": ["FARGATE"],
  "networkMode": "awsvpc",
  "cpu": "256",
  "volumes": []
}
