{
  "executionRoleArn": "ecs-task-execution-role-dol-ui-claimant-intake-db-migrate-ENVIRONMENT_PLACEHOLDER",
  "containerDefinitions": [
    {
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/ecs/ENVIRONMENT_PLACEHOLDER/dol-ui-claimant-intake-db-migrate",
          "awslogs-region": "us-east-1",
          "awslogs-stream-prefix": "dol-ui-claimant-intake-db-migrate"
        }
      },
      "portMappings": null,
      "environment": [
        {
          "name": "SPRING_PROFILES_ACTIVE",
          "value": "migrations"
        }
      ],
      "mountPoints": [],
      "secrets": [
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-host",
          "name": "DB_HOST"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-port",
          "name": "DB_PORT"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-name",
          "name": "DB_NAME"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-user",
          "name": "DB_USER"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-password",
          "name": "DB_PASSWORD"
        }
      ],
      "volumesFrom": [],
      "image": null,
      "essential": true,
      "readonlyRootFilesystem": true,
      "name": "dol-ui-claimant-intake-db-migrate-ENVIRONMENT_PLACEHOLDER"
    }
  ],
  "placementConstraints": [],
  "memory": "512",
  "taskRoleArn": "ecs-task-role-dol-ui-claimant-intake-db-migrate-ENVIRONMENT_PLACEHOLDER",
  "family": "dol-ui-claimant-intake-db-migrate-ENVIRONMENT_PLACEHOLDER",
  "requiresCompatibilities": ["FARGATE"],
  "networkMode": "awsvpc",
  "cpu": "256",
  "volumes": []
}
