{
  "ipcMode": null,
  "executionRoleArn": "ecs-task-execution-role-dol-ui-claimant-intake-server-ENVIRONMENT_PLACEHOLDER",
  "containerDefinitions": [
    {
      "dnsSearchDomains": null,
      "environmentFiles": null,
      "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
          "awslogs-group": "/ecs/ENVIRONMENT_PLACEHOLDER/dol-ui-claimant-intake-server",
          "awslogs-region": "us-east-1",
          "awslogs-stream-prefix": "dol-ui-claimant-intake-server"
        }
      },
      "entryPoint": null,
      "portMappings": [
        {
          "hostPort": 8080,
          "protocol": "tcp",
          "containerPort": 8080
        }
      ],
      "command": null,
      "linuxParameters": null,
      "cpu": null,
      "environment": [
        {
          "name": "SPRING_PROFILES_ACTIVE",
          "value": "aws,aws-ENVIRONMENT_PLACEHOLDER"
        }
      ],
      "resourceRequirements": null,
      "ulimits": null,
      "dnsServers": null,
      "mountPoints": [
        {
          "containerPath": "/tmp/app",
          "sourceVolume": "app_tmp"
        }
      ],
      "workingDirectory": null,
      "secrets": [
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-host",
          "name": "DB_HOST"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-port",
          "name": "DB_PORT"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-name",
          "name": "DB_NAME"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-user",
          "name": "DB_USER"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/database-password",
          "name": "DB_PASSWORD"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/s3-claims-bucket",
          "name": "S3_CLAIMS_BUCKET"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/s3-claims-bucket-kms-key",
          "name": "S3_CLAIMS_BUCKET_KMS_KEY"
        },
        {
          "valueFrom": "/dol-ui-claimant-intake-ENVIRONMENT_PLACEHOLDER/cognito-issuer",
          "name": "COGNITO_ISSUER"
        }
      ],
      "dockerSecurityOptions": null,
      "memory": null,
      "memoryReservation": null,
      "volumesFrom": [],
      "stopTimeout": null,
      "image": null,
      "startTimeout": null,
      "firelensConfiguration": null,
      "dependsOn": null,
      "disableNetworking": null,
      "interactive": null,
      "healthCheck": null,
      "essential": true,
      "links": null,
      "hostname": null,
      "extraHosts": null,
      "pseudoTerminal": null,
      "user": null,
      "readonlyRootFilesystem": true,
      "dockerLabels": null,
      "systemControls": null,
      "privileged": null,
      "name": "dol-ui-claimant-intake-server-ENVIRONMENT_PLACEHOLDER"
    }
  ],
  "placementConstraints": [],
  "memory": "512",
  "taskRoleArn": "ecs-task-role-dol-ui-claimant-intake-server-ENVIRONMENT_PLACEHOLDER",
  "taskDefinitionArn": null,
  "family": "dol-ui-claimant-intake-server-ENVIRONMENT_PLACEHOLDER",
  "pidMode": null,
  "requiresCompatibilities": ["FARGATE"],
  "networkMode": "awsvpc",
  "runtimePlatform": null,
  "cpu": "256",
  "inferenceAccelerators": null,
  "proxyConfiguration": null,
  "volumes": [
    {
      "name": "app_tmp"
    }
  ]
}
