@use 'uswds-core' as *;

// -------------------------------------
// global style overrides

.form-section > .usa-legend:first-child {
  @include u-margin-bottom(0);
  @include u-margin-top(4);
  h2,
  h3 {
    font-size: inherit;
    margin: 0;
  }
}
.yesno-fieldset .usa-legend {
  margin-top: 0;
}

.yesno-fieldset .usa-form-group {
  clear: both;
}

.yesno-fieldset.usa-form-group--error .usa-legend {
  font-weight: bold;
}

.yesno-fieldset.usa-form-group--error .usa-form-group--error {
  border: none;
  margin-top: 1.5rem;
  padding-left: 0;
}

@media all and (min-width: 1024px) {
  .yesno-fieldset.usa-form-group--error .usa-form-group--error {
    padding-left: 1.25rem;
  }
}

.dol-claims-actions {
  a {
    margin-right: 1rem;
  }
}

.usa-link svg {
  margin-left: 2px;
  vertical-align: middle;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.usa-input-prefix,
.usa-input-suffix {
  color: #757575;
  line-height: 0;
  padding: 0 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.usa-step-indicator__header {
  display: none;
}

.claim-id {
  display: block;
  font-weight: bold;
}

.nav-future {
  cursor: not-allowed;
  display: block;
  color: #adadad;
  line-height: 1.3;
}

.usa-sidenav .nav-future {
  padding: units(1) units(2);
}

.usa-step-indicator__segment-label {
  display: none;
}

@media all and (max-width: units('desktop')) {
  #appMenu .nav-future {
    padding: units(1) units(2) units(1) units(4);
    line-height: inherit;
  }
  .usa-sidenav {
    display: none;
  }
}
@media all and (min-width: units('desktop')) {
  .usa-step-indicator {
    display: none;
  }
}
