.alt_name {
  margin-top: -1.5rem !important;
}

.suffix {
  width: 10rem !important;
}

.city {
  width: 10rem !important;
  margin-right: 2rem !important;
}

.state {
  width: 8rem !important;
}

.zipcode {
  width: 8rem !important;
}
